body{
    background: #FCFCFD;
}
.form{
    position: relative;
    width: 7.5rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}
.form .searchInput{
    width: 7rem;
    height: .6rem;
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: #333;
    padding: 0 30px;
    box-sizing: border-box;
    background: #ebecec;
    border-radius: 30px;
    border: none;
}
.form .searchInput::placeholder {
    color: #c9c9c9;
}
.u-svg-srch {
    position: absolute;
    left: 0.26rem;
    top: 0.46rem;
    margin: 0 8px;
    vertical-align: middle;
}

.u-svg-srch {
    width: 13px;
    height: 13px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxIDIzLjUzNWwtMS40MTQgMS40MTQtNy4zMTUtNy4zMTRBOS45NjYgOS45NjYgMCAwIDEgMTAgMjBDNC40NzcgMjAgMCAxNS41MjMgMCAxMFM0LjQ3NyAwIDEwIDBzMTAgNC40NzcgMTAgMTBjMCAyLjM0Mi0uODExIDQuNDktMi4xNiA2LjE5NWw3LjM0MSA3LjM0ek0xMCAyYTggOCAwIDEgMCAwIDE2IDggOCAwIDAgMCAwLTE2eiIvPjwvc3ZnPg==);
}

.u-svg {
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.hotList{
    width: 7.2rem;
    height: 4rem;
    padding: 0.15rem 0.1rem 0;
}
.hotList .hotTit {
    font-size: 12px;
    line-height: 12px;
    color: #666;
    font-weight: normal;
}
.hotList .list{
    width: 7rem;
    height: 3.2rem;
    margin: 10px 0 7px;
}
.hotList .list .item {
    width: initial;
    display: inline-block;
    height: 32px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid #e0e0e0;
    text-align: center;
    border-radius: .6rem;
}
.hotList .list .item a{
    font-family: Helvetica,sans-serif;
    color: #333;
}
.cancel{
    position: absolute;
    right:.4rem;
    top: .46rem;
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    background: #c0c0c0;
    border-radius: 50%;
    color: #f3f3f3;
}
.cancel i{
    position: relative;
    right:0;
    top: -.46rem;
}
.hotSearchlist{
    width: 7.5rem;
}
.hotSearchlist li{
    margin-left: 0.5rem;
    width: 7rem;
    height: 0.9rem;
    line-height: 0.9rem;
}
.hotSearchlist li i {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 7px;
}
.hotSearchlist li .hotitem {
    width: 6.5rem;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 15px;
    color: #333;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
}
.u-svg-search {
    width: 15px;
    height: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMDQwMDAwIiBkPSJNMjguMTgxIDI3LjUzNWwtMS40MTQgMS40MTQtNy43NTUtNy43NTRBMTEuNDQ1IDExLjQ0NSAwIDAgMSAxMS41IDI0QzUuMTQ5IDI0IDAgMTguODUyIDAgMTIuNSAwIDYuMTQ5IDUuMTQ5IDEgMTEuNSAxIDE3Ljg1MiAxIDIzIDYuMTQ5IDIzIDEyLjVjMCAyLjc1Ni0uOTczIDUuMjg1LTIuNTg5IDcuMjY2bDcuNzcgNy43Njl6TTExLjUgM2E5LjUgOS41IDAgMSAwIDAgMTkgOS41IDkuNSAwIDAgMCAwLTE5eiIgb3BhY2l0eT0iLjMiLz48L3N2Zz4=);
}

.u-svg {
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}